<p>Please select one piece of art that you like by clicking on it and we will guide you to a similar artwork.</p>

<form action="/assess" method="post" class="assessment-form">
  {{#each objects}}
  <label class="assessment-element">
    <input type="checkbox" name="{{this.objectID}}" value="[{{#if this.objectBeginDate}}'{{this.objectBeginDate}}'{{else}}''{{/if}}, {{#if this.department}}'{{this.department}}'{{else}}''{{/if}}, {{#if this.culture}}'{{this.culture}}'{{else}}'*'{{/if}}, '{{../selectedMedium}}']">
    <img src="{{this.primaryImageSmall}}" class="item-img">
  </label>
  {{/each}}
  <button type="submit">
    Get recommendation
  </button>
</form>

<!--
  <input type="checkbox" name="{{this.objectID}}" value="{objectBeginDate: {{#if this.objectBeginDate}}{{this.objectBeginDate}}{{else}}''{{/if}},  department:{{#if this.department}}{{this.department}}{{else}}''{{/if}}, culture:{{#if this.culture}}{{this.culture}}{{else}}''{{/if}}, medium:{{../selectedMedium}} }">
-->