{{#with questItem}}
<h1><span class="obj-title">{{title}}</span></h1>
<img src="{{primaryImage}}" alt="{{title}}" class="item-img">
<h2>{{artistDisplayName}}</h2>
<h3 class="artist-liferange"><span class="artist-begin-date">{{artistBeginDate}}</span>-<span
    class="artist-end-date">{{artistEndDate}}</span></h3>
<h4><span class="obj-medium">{{medium}}</span> <span class="obj-dimensions">{{dimensions}}</span></h4>
<p class="about-the-artist">About the {{artistRole}}</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime magnam at aliquid, vitae inventore voluptatibus
  placeat laboriosam. Veniam omnis dicta at et. Ducimus expedita hic natus laborum recusandae voluptatibus et
  voluptates, sit voluptas eius dolore adipisci similique, voluptate a labore nisi eum dolorum assumenda odio quidem,
  quasi soluta minima repellendus.</p>
<h4>{{creditLine}}</h4>

<style>
  main {
    background:linear-gradient(0deg,rgba(253, 254, 254, 0.8),rgba(247, 249, 249,0.9)),url({{primaryImage}});
    background-size: cover;
    background-position: center;
    background
  }
</style>
{{/with}}